<div class="row">
    <div class="men col-12">



        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['link_1']">Link Página 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['link_2']">Link Página 2</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>





    </div>


</div>